.nav {
    font-family: $barlow;
    color: $colorSecondary;
    background-color: $colorPrimaryDark;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 24px;
        font-weight: 600;
    }

    &__button {
        font-size: 18px;
        width: 120px;
        height: 34px;
        border-radius: 12px;
        color: $colorPrimaryDark;
        transition: color .2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
        border: none;
        cursor: pointer;
        &:hover{
            border: solid white 2px;
            background-color: $colorPrimaryDark;
            color: $colorSecondary;
        }
        &:active{
            transform: scale(0.85);
        }
    }
}
