.task-container{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.task {
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 24px;
    font-family: $barlow;
    position: relative;

    &__head {
        margin: 0px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__name {
            font-size: 24px;
            margin: 10px 0px;
        }

        &__img {
            width: 25px;
            height: 25px;
        }

        &__tag {
            text-align: center;
            font-size: 14px;
            position: absolute;
            right: 15px;
            top: -12px;
            width: 50px;
            height: 25px;
            border-radius: 12px;
            line-height: 0.9em;
            padding-top: 6px;
        }
    }
    &__content {
        &__description {
            margin: 10px 15px;
        }
    }

    &__footer{
        display: flex;
        padding: 0px 15px;
        justify-content: space-between;
        align-items: center;
        
        &__time {
            display: flex;
            align-items: center;

            &__text {
                color: gray;
                margin-right: 5px;
                margin-bottom: 3px;
            }
            
        }
        
        .icon {
            height: 20px;
            width: 20px;                
        }
    }

    .todo {
        background-color: $colorTodo;
    }

    .doing {
        background-color: $colorDoing;
    }
    .done {
        background-color: $colorDone;
    }
}

.task-todo {
    box-shadow: 0px 0px 5px $colorTodo;
}

.task-doing {
    box-shadow: 0px 0px 5px $colorDoing;
}

.task-done {
    box-shadow: 0px 0px 5px $colorDone;
}
