@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

$barlow:'Barlow', sans-serif;

//Colors
$colorPrimary: #8A817C;
$colorPrimaryDark : #2b2d42;
$colorSecondary: #F4F3EE;
$colorSecondaryDark: #BCB8B1;
$colorAccent: #E0AFA0;

//Import
@import 'reset';
@import 'navbar';
@import 'selection';
@import 'addtask';
@import 'task';

main{
    background-color: $colorSecondary;
    height: 100%;
}