@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.nav {
  font-family: "Barlow", sans-serif;
  color: #f4f3ee;
  background-color: #2b2d42;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__title {
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (min-width: 375px) {
  .nav__title {
    font-size: 24px;
  }
}
.nav__button {
  font-size: 18px;
  width: 100px;
  height: 30px;
  border-radius: 12px;
  color: #2b2d42;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}
.nav__button:hover {
  border: solid white 2px;
  background-color: #2b2d42;
  color: #f4f3ee;
}
.nav__button:active {
  transform: scale(0.85);
}
@media only screen and (min-width: 375px) {
  .nav__button {
    width: 120px;
    height: 34px;
  }
}

.selection {
  font-family: "Barlow", sans-serif;
  padding: 20px;
  width: 100%;
  background-color: #f4f3ee;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selection__filter {
  border-radius: 10px;
  margin-bottom: 15px;
}
.selection__filter__filter-button {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  margin: 5px;
  border-radius: 12px;
  width: 80px;
  height: 25px;
  border: none;
  opacity: 0.3;
  transition: opacity 0.2s ease;
  cursor: pointer;
}
.selection__filter__filter-button:hover {
  opacity: 0.6;
}
.selection__filter__filter-button:active {
  transform: scale(0.9);
  opacity: 1;
  color: #f4f3ee;
}
.selection__filter .todo {
  background-color: #eb5a46;
}
.selection__filter .doing {
  background-color: #f2d600;
}
.selection__filter .done {
  background-color: #61bd4f;
}
.selection__sort {
  display: flex;
  flex-direction: row;
}
.selection__sort__sort-button {
  margin: 5px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.selection__sort__sort-button img {
  width: 40px;
  height: 40px;
}
.selection__sort__sort-button:hover {
  background-color: lightgray;
}
.selection__sort__sort-button:active {
  transform: scale(0.9);
}

.container {
  padding: 20px;
  position: absolute;
  top: 90px;
  right: 40px;
  background-color: lightgray;
  -webkit-animation: slide 1s ease 3.5s forwards;
          animation: slide 1s ease 3.5s forwards;
  border-radius: 10px 0px 10px 10px;
  z-index: 2;
  display: none;
}
.container input,
.container select {
  width: 100%;
  font-family: "Barlow", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  border: 0;
  background-color: lightgray;
  border-bottom: solid 2px gray;
}
.container input:focus,
.container select:focus {
  outline: none;
}
.container .new-task {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.container .new-task::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  top: -12px;
  right: 0px;
  border: 0.75rem solid transparent;
  border-bottom-color: lightgray;
  transform: rotate(270deg);
}
.container .new-task__important {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .new-task__important__input {
  width: 20px;
  height: 20px;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}
.container .new-task__important__text {
  margin-top: 5px;
  margin-bottom: 10px;
}
.container .new-task__add {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .new-task__add__button {
  margin-top: 5px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.container .new-task__add__button:hover {
  background-color: lightgray;
  border: solid 2px white;
}
.container .new-task__add__button:active {
  transform: scale(0.95);
}

.task {
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 24px;
  font-family: "Barlow", sans-serif;
  position: relative;
}
.task__head {
  margin: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__head__name {
  font-size: 24px;
  margin: 10px 0px;
}
.task__head__img {
  width: 25px;
  height: 25px;
}
.task__head__tag {
  text-align: center;
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: -12px;
  width: 50px;
  height: 25px;
  border-radius: 12px;
  line-height: 0.9em;
  padding-top: 6px;
}
.task__content__description {
  margin: 10px 15px;
}
.task__content__time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.task__content__time__text {
  color: gray;
  margin-right: 5px;
  margin-bottom: 3px;
}
.task__content__time__img {
  height: 20px;
  width: 20px;
}
.task .todo {
  background-color: #eb5a46;
}
.task .doing {
  background-color: #f2d600;
}
.task .done {
  background-color: #61bd4f;
}

.task-todo {
  box-shadow: 0px 0px 5px #eb5a46;
}

.task-doing {
  box-shadow: 0px 0px 5px #f2d600;
}

.task-done {
  box-shadow: 0px 0px 5px #61bd4f;
}

#snackbar {
  font-family: "Barlow", sans-serif;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 3; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
main {
  background-color: #f4f3ee;
  height: 100%;
}